@import url("../fonts/raleway-webfont/raleway.min.css");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
  outline: none;
  text-decoration: none;
}

li {
  list-style: none;
}

.form-control, .form-control[readonly], .form-control > option, select.form-control:not([size]):not([multiple]) {
  line-height: 18px;
  padding: 15px 20px;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #686c86 !important;
  font-family: "Raleway", sans-serif;
  background: #fff;
  height: 50px;
}

.form-control + .form-control, .form-control[readonly] + .form-control, .form-control > option + .form-control, select.form-control:not([size]):not([multiple]) + .form-control {
  margin-top: 16px;
}

.form-control.placeholder, .form-control[readonly].placeholder, .form-control > option.placeholder, select.form-control:not([size]):not([multiple]).placeholder {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.form-control:-moz-placeholder, .form-control[readonly]:-moz-placeholder, .form-control > option:-moz-placeholder, select.form-control:not([size]):not([multiple]):-moz-placeholder {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.form-control::-moz-placeholder, .form-control[readonly]::-moz-placeholder, .form-control > option::-moz-placeholder, select.form-control:not([size]):not([multiple])::-moz-placeholder {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.form-control::-webkit-input-placeholder, .form-control[readonly]::-webkit-input-placeholder, .form-control > option::-webkit-input-placeholder, select.form-control:not([size]):not([multiple])::-webkit-input-placeholder {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

select {
  text-indent: 10px;
}

label {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #4a4a4a;
  margin-bottom: 8px;
  line-height: 1;
}

.d-none {
  display: none !important;
}

.text-underline {
  text-decoration: underline !important;
}

.text-red {
  color: color(red);
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ffffff;
  margin: 0;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: 600;
}

/*@include desktop {
            clip-path: polygon(0 0, 75% 0, 55% 100%, 0% 100%);
        }*/
.home-header .main-nav {
  display: block;
  background: transparent !important;
  -webkit-transition: all .3s linear 0s;
  transition: all .3s linear 0s;
  color: #011739;
  margin-top: 0;
  padding-top: 0;
  border-bottom: 1px solid #d2d8e1;
}

.home-header .main-nav .site-brand {
  cursor: pointer;
  padding: 0;
}

@media (max-width: 576px) {
  .home-header .main-nav .site-brand {
    margin-top: 0px;
  }
}

.home-header .main-nav .navbar-toggler {
  background-color: white !important;
  border-color: white !important;
}

.home-header .main-nav .navbar-nav .nav-link {
  color: #011739 !important;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 15px;
  padding: 28.5px 10px 28.5px 10px;
  position: relative;
}

.home-header .main-nav .nav-item:hover .nav-link, .home-header .main-nav .nav-item.active .nav-link {
  color: #fe5b60 !important;
}

.home-header .main-nav .nav-item.dropdown .dropdown-toggle::after {
  display: none;
}

.home-header .main-nav .nav-item.dropdown .dropdown-toggle i {
  margin: 0 5px;
}

.home-header .main-nav .nav-item.dropdown .dropdown-menu {
  margin-top: 7px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: end;
}

.home-header .main-nav .nav-item.dropdown .dropdown-menu :hover {
  color: #fe5b60 !important;
}

.posts-wall {
  clear: both;
  padding: 55px 0;
  text-align: left;
  background: #FFF;
  min-height: 150px;
}

.posts-wall .posts-wall-heading h2 {
  color: #011739;
  margin-bottom: 15px;
}

.posts-wall .posts-wall-heading .st-border {
  width: 150px;
  margin: 0;
  display: block;
  border-top: 3px solid #d2d8e1;
}

.posts-wall .post-card {
  text-align: left;
  background-color: transparent !important;
  margin: 55px 0;
  border: 1px solid #d2d8e1;
}

.posts-wall .post-card .card-title {
  font-weight: bold;
  font-size: 17px;
  color: #011739;
}

.posts-wall .post-card .card-text {
  margin-top: 25px;
  color: #011739;
  font-size: 16px;
  font-weight: 350;
  text-align: justify;
}

.footer {
  border-top: 1px solid #d2d8e1;
  color: #011739;
  text-align: center;
}

.signup {
  clear: both;
  padding: 55px 0;
  background: #FFF;
  min-height: 150px;
}

.signup .form-heading {
  margin-bottom: 45px;
}

.signup .form-heading h2 {
  color: #011739;
  margin-bottom: 15px;
}

.signup .form-heading .st-border {
  width: 175px;
  margin: 0;
  display: block;
  border-top: 3px solid #d2d8e1;
}

.signup .form-heading img {
  position: absolute;
  top: 15px;
  right: 30px;
}

.signup .signup-form {
  background: #ffffff;
  padding: 30px;
  border-radius: 15px;
  border: 1px solid #d2d8e1;
}

.signin {
  clear: both;
  padding: 55px 0;
  background: #FFF;
  min-height: 150px;
  margin-top: 50px;
}

.signin .form-heading {
  margin-bottom: 45px;
}

.signin .form-heading h2 {
  color: #011739;
  margin-bottom: 15px;
}

.signin .form-heading .st-border {
  width: 150px;
  margin: 0;
  display: block;
  border-top: 3px solid #d2d8e1;
}

.signin .signin-form {
  background: #ffffff;
  padding: 30px;
  border-radius: 15px;
  border: 1px solid #d2d8e1;
}

.signin .signin-form .form-link {
  text-decoration: none;
  color: #011739;
  font-weight: bold;
}

.signin .signin-form .form-link:hover {
  color: #011739;
}

.signin .signin-form .form-link-separator {
  text-decoration: none;
  color: #011739;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */