@import url('../fonts/raleway-webfont/raleway.min.css');
* {
	box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
a:hover,  a:focus,  .btn:hover,  .btn:focus,  button:hover,  button:focus  {
    outline:  none;
    text-decoration:  none;
}
li {list-style: none;}


.form-control,  .form-control[readonly],  .form-control > option,  select.form-control:not([size]):not([multiple])  {
    line-height:  18px;
    padding:  15px 20px;
    border-radius:  4px;
    -webkit-box-shadow:  none;
    box-shadow:  none;
    color:  #686c86 !important;
    font-family: "Raleway", sans-serif;
    background:  #fff;
    height:  50px;
}
.form-control + .form-control,  .form-control[readonly] + .form-control,  .form-control > option + .form-control,  select.form-control:not([size]):not([multiple]) + .form-control  {
    margin-top:  16px;
}
.form-control.placeholder,  .form-control[readonly].placeholder,  .form-control > option.placeholder,  select.form-control:not([size]):not([multiple]).placeholder  {
    font-family: "Raleway", sans-serif;
    font-size:  16px;
    font-weight:  300;
}
.form-control:-moz-placeholder,  .form-control[readonly]:-moz-placeholder,  .form-control > option:-moz-placeholder,  select.form-control:not([size]):not([multiple]):-moz-placeholder  {
    font-family: "Raleway", sans-serif;
    font-size:  16px;
    font-weight:  300;
}
.form-control::-moz-placeholder,  .form-control[readonly]::-moz-placeholder,  .form-control > option::-moz-placeholder,  select.form-control:not([size]):not([multiple])::-moz-placeholder  {
    font-family: "Raleway", sans-serif;
    font-size:  16px;
    font-weight:  300;
}
.form-control::-webkit-input-placeholder,  .form-control[readonly]::-webkit-input-placeholder,  .form-control > option::-webkit-input-placeholder,  select.form-control:not([size]):not([multiple])::-webkit-input-placeholder  {
    font-family: "Raleway", sans-serif;
    font-size:  16px;
    font-weight:  300;
}
select  {
    text-indent:  10px;
}
label  {
    font-family: "Raleway", sans-serif;
    font-size:  16px;
    color:  #4a4a4a;
    margin-bottom:  8px;
    line-height:  1;
}


$colors: (
    red: #fe5b60,
    gray: #3e405a,
    white: #ffffff,
    black: #011739
);

.d-none{
    display: none !important;
}

.text-underline{
    text-decoration: underline !important;
}

.text-red{
    color: color(red);
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    margin: 0;
    
    h1, h2, h3, h4, h5, h6{
        font-weight: 600;
    }
}


@function color($color-name) {
    @return map-get($colors, $color-name)
}

@function padding($padding-measurement) {
    @return map-get($padding, $padding-measurement)
}

@mixin background($imgpath) {
    background: {
        image: url($imgpath);
    }
}

$mobile: 576px;

@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
}

/*@include desktop {
            clip-path: polygon(0 0, 75% 0, 55% 100%, 0% 100%);
        }*/
.home-header{   
    .main-nav{
        display: block;
        background: transparent !important;
        transition:  all .3s linear 0s;
        color: color(black);
        margin-top: 0;
        padding-top: 0;
        border-bottom: 1px solid #d2d8e1;

        .site-brand {
            cursor: pointer;
            padding: 0;
            @include mobile {
                margin-top: 0px;
            }
        }

        .navbar-toggler {
            background-color: rgba(255, 255, 255, 1) !important;
            border-color: rgba(255, 255, 255, 1) !important;
        }

        .navbar-nav .nav-link {
            color: color(black) !important;
            font-family: "Raleway", sans-serif;
            font-weight: 500;
            font-size: 15px;
            padding: 28.5px 10px 28.5px 10px;
            position: relative;            
        }
        
        .nav-item:hover .nav-link, .nav-item.active .nav-link{
            color: color(red) !important;
        }
                

        .nav-item.dropdown{
                        
            .dropdown-toggle::after {
                display: none;
            }

            .dropdown-toggle i{
                margin: 0 5px;
            }

            .dropdown-menu {                
                margin-top: 7px;
                font-family: "Raleway", sans-serif;
                font-weight: 400;
                font-size: 14px;
                text-align: end;

                :hover{color: color(red) !important};
            }                  
        }        
    }    
}

.posts-wall{
    clear: both;
    padding: 55px 0;
    text-align: left;
    background: #FFF;
    min-height: 150px;

    .posts-wall-heading{
        h2{
            color: color(black);
            margin-bottom: 15px;
        }
        .st-border{
            width:150px;
            margin: 0;
            display: block;
            border-top: 3px solid #d2d8e1;
        }
    }

    .post-card{
        text-align: left;
        background-color: transparent !important;
        margin: 55px 0;
        border: 1px solid #d2d8e1;
        
        .card-title{
            font-weight: bold;
            font-size: 17px;
            color: color(black);
        }
        
        .card-text{
            margin-top: 25px;
            color: color(black);
            font-size: 16px;
            font-weight: 350;
            text-align: justify;
        }
    }
}

.footer{
    border-top: 1px solid #d2d8e1;
    color: color(black);
    text-align: center;
}

.signup{
    clear: both;
    padding: 55px 0;
    background: #FFF;
    min-height: 150px;

    .form-heading{
        margin-bottom: 45px;
        h2{
            color: color(black);
            margin-bottom: 15px;
        }
        .st-border{
            width:175px;
            margin: 0;
            display: block;
            border-top: 3px solid #d2d8e1;
        }
        img{
            position: absolute;
            top: 15px;
            right: 30px;
        }
    }

    .signup-form{
        background: color(white);
        padding: 30px;
        border-radius: 15px;
        border: 1px solid #d2d8e1;
    }
}

.signin{
    clear: both;
    padding: 55px 0;
    background: #FFF;
    min-height: 150px;
    margin-top: 50px;

    .form-heading{
        margin-bottom: 45px;
        h2{
            color: color(black);
            margin-bottom: 15px;
        }
        .st-border{
            width:150px;
            margin: 0;
            display: block;
            border-top: 3px solid #d2d8e1;
        }
    }

    .signin-form{
        background: color(white);
        padding: 30px;
        border-radius: 15px;
        border: 1px solid #d2d8e1;

        .form-link{
            text-decoration: none;
            color: color(black);
            font-weight: bold;            
        }
        .form-link:hover{
            color: color(black);
        }
        .form-link-separator{
            text-decoration: none;
            color: color(black);
            font-weight: bold;
        }
    }
}